# Modified by AccordLock contributors; see UPSTREAM.md.
[Desktop Entry]
Name=AccordLock
Exec=/usr/lib/accordlock/AccordLock %U
Icon=/usr/share/pixmaps/accordlock.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/accordlock;
